<!DOCTYPE html>
<html>
  <head>
          <title> About Me: Jazmin Can</title>
          <!-- link to main stylesheet -->
          (link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body> 
     
          <nav>
          <ul>
           
                <li><a href="https://jazmincan02.github.io/SEA-Online-Portfolio//">Home</a></li>                   
                <li><a href="https://blueceleste02.wixsite.com/jcan/work-experience/">Experience</a></li>
                <li><a href="https://www.linkedin.com/in/jcan02/">LinkedIn</a></li>
                <li><a href="https://blueceleste02.wixsite.com/jcan/extracuriular/">Extracurricular</a></li>
            <li><a href="education">Education</a></li>
          </ul>
          </nav>
          
body {
    margin: 60px auto;
    width: 70%;
}
 <style>
    body {
      background-color:plum;
      color:#566573;
      text-align:left;
      font-size:26px;
      font-family:"Anton", vernon adams; 
      width: 600px;
    }

  </style>
    
    
   
</div> 
          <div class="container">
          <div class="introduction">
                  <h1>Hello, welcome! My name is Jazmin Can!💡</h1>
                  <p>I am an incoming college freshmen student at Santa Monica College. I am planning to pursue Mechanical Engineering for my undergraduate studies. I am a female first-generation college student from a low-income family.Graduated from California Academy of Mathematics and Science. <em>Graduated from California Academy of Mathematics and Science.</em> I have 
 done a summer internship at Boeing Satellite Systems located in El Segundo, CA. <a href="/education">Click for more...😊 </a></p>
            </div><!-- /.introduction -->
            </div><!-- /.container -->
            <footer>
            <ul>
                    <li><a href="mailto:jazmincan18@gmail.com">email📧</a></li>
                    </li>
  
  <div id="Skills" class="tabcontent">
  <h3>Skills</h3>
  <p>My skills consists of</p> 
  <ul> 
           <li>Python</li>
           <li>HTML/CSS</li>
           <li>MultiSIM</li>
            <li>Autodesk Inventor PRO</li>
           <li>SolidWorks</li>
           <li>Machining/Manufacturing</li>
            <li>Soldering</li>
            <li>Public Speaking/Communications</li>
           <li>Management</li>
     </li>
</ul>
  
  
  
                    </ul>
           </footer>
     </body>
</html>
          
